<header>
	<div class="container">
		<div class="head-items col-12">
			<div class="logo-placeholders col-6">
				<a href="index.html"><img src="/assets/images/two.svg" class="dgpw-img"></a>
			</div>
			<div class="name-container col-6">
				<p class="my-full-name">Nick Paatashvili</p>
				<p class="user-names">(<a href="https://www.github.com/digitalpow" target="_blank">@DigitalPow</a>, sometimes <a href="https://www.facebook.com/digitalpowww" target="_blank">@DigitalPowww</a>)</p>
			</div>
		</div>
	</div>
</header>
