<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
	  {% if page.title %} {{ page.title }}
	    {% else %} {{ site.title }}
	  {% endif %}
	</title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
	<script src="{{ site.baseurl }}/assets/js/main.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
