<div class="container-dg">
		<div class="centering-flex-dg-alt">
			<div class="logo-container-dg-alt">
				<a href="{{ site.baseurl }}/index">
					<img src="{{ site.baseurl }}/assets/images/dgpw.svg">
				</a>
			</div>
		</div>
		<nav class="navigation-other-dg nav-items">
			<ul>
				<li>
					<a href="{{ site.baseurl }}/portfolio">portfolio</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}/contact">
						contact
					</a>
				</li>
				<li>
					<a href="{{ site.baseurl }}/assets/resume.pdf" target="_blank">
						resume
					</a>
				</li>
			</ul>
		</nav>
	</div>
