<div class="container">
	<div class="row">
		<header id="header" class="">
			<div class="col-12 nopad">
				<div class="center-wrapper">
					<div class="image-holder">
						<a href="{{ site.baseurl }}/index">
							<img src="{{ site.baseurl }}/assets/images/dgpw.svg" alt="">
						</a>
					</div>
					<div class="identity-holder">
						<p>Graphic / UI designer, front-end enthusiast and beerlover <br/> from Tbilisi, Georgia</p>
					</div>
					<div class="redline">
						<span></span>
					</div>
					<div class="soc-links">
						<div class"soc-container">
							<ul class="soc-links-list">
								<li>
									<a href="https://www.facebook.com/digitalpowww">
										<img src="{{ site.baseurl }}/assets/images/facebook.svg" alt="">
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/digitalpowww">
										<img src="{{ site.baseurl }}/assets/images/dribbble.svg" alt="">
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/digitalpowww">
										<img src="{{ site.baseurl }}/assets/images/behance.svg" alt="">
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/digitalpowww">
										<img src="{{ site.baseurl }}/assets/images/github.svg" alt="">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header><!-- /header -->
	</div>
</div>
