<div class="background">
	<div class="grid">
		<div class="col-half full-h">
			<div class="identity">
				<p class="auth-name">Nick Paatashvili <span class="it">(a.k.a. DigitalPow)</span></p>
				<p><span class="it">Graphic/UI designer, front-end enthusiast and beerlover<br>from Tbilisi, Georgia. </span></p>
				<p><span class="it">currently working at <a class="forset" href="https://www.forset.ge" target="_blank">ForSet</a> as a graphic designer</p>
				<p class="soc-icons">
					<a href="https://www.facebook.com/digitalpowww" target="_blank"><i class="fab fa-facebook-f"></i></a>
					<a href="https://www.instagram.com/digitalpowww/" target="_blank"><i class="fab fa-instagram"></i></a>
					<a href="https://www.be.net/digitalpow" target="_blank"><i class="fab fa-behance"></i></a>
					<a href="https://www.dribbble.com/digitalpow" target="_blank"><i class="fab fa-dribbble"></i></a>
					<a href="https://www.github.com/digitalpow" target="_blank"><i class="fab fa-github"></i></a>
				</p>
			</div>
		</div>
		<div class="col-half full-h">
		</div>
	</div>
</div>
