<div class="soc-links-dg">
	<div class="soc-links-container-dg">
		<a href="https://www.facebook.com/digitalpowww"><img src="{{ site.baseurl }}/assets/images/facebook.svg" alt=""></a>
		<a href="https://www.dribbble.com/digitalpow"><img src="{{ site.baseurl }}/assets/images/dribbble.svg" alt=""></a>
		<a href="https://www.be.net/digitalpow"><img src="{{ site.baseurl }}/assets/images/behance.svg" alt=""></a>
		<a href="https://www.github.com/digitalpow"><img src="{{ site.baseurl }}/assets/images/github.svg" alt=""></a>
	</div>
</div>
