<div class="full-dg">
	<div id="scene" class="bg">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve">
<style type="text/css">
	.st0{fill:url(#XMLID_6_);}
	.st1{fill:url(#XMLID_7_);}
	.st2{fill:url(#XMLID_8_);}
	.st3{fill:url(#XMLID_9_);}
</style>
<linearGradient id="XMLID_6_" gradientUnits="userSpaceOnUse" x1="159.5" y1="1453.8" x2="239.7" y2="1453.8" gradientTransform="matrix(6.123234e-17 -1 -1 -6.123234e-17 1650.6 462.8)">
	<stop  offset="0" style="stop-color:#52A9C3"/>
	<stop  offset="1" style="stop-color:#9FE5D5"/>
</linearGradient>
<circle id="XMLID_1_" class="st0 move" cx="196.8" cy="263.2" r="40.1"/>
<linearGradient id="XMLID_7_" gradientUnits="userSpaceOnUse" x1="-274.2409" y1="0.5742" x2="-220.9592" y2="0.5742" gradientTransform="matrix(-6.123234e-17 1 1 6.123234e-17 1649.4517 958.0001)">
	<stop  offset="0" style="stop-color:#52A9C3"/>
	<stop  offset="1" style="stop-color:#9FE5D5"/>
</linearGradient>
<circle id="XMLID_4_" class="st1 move-alt" cx="1650" cy="710.4" r="26.6"/>
<linearGradient id="XMLID_8_" gradientUnits="userSpaceOnUse" x1="-181.1" y1="1387.6" x2="-125.1" y2="1387.6" gradientTransform="matrix(6.123234e-17 -1 -1 -6.123234e-17 1650.6 462.8)">
	<stop  offset="0" style="stop-color:#9996EF"/>
	<stop  offset="1" style="stop-color:#F6C6D6"/>
</linearGradient>
<circle id="XMLID_2_" class="st2 move-alt-1" cx="263" cy="615.9" r="28"/>
<linearGradient id="XMLID_9_" gradientUnits="userSpaceOnUse" x1="123.6152" y1="-71.9743" x2="153.5847" y2="-89.2772" gradientTransform="matrix(6.123234e-17 -1 -1 -6.123234e-17 1650.6 462.8)">
	<stop  offset="0" style="stop-color:#FAACA8"/>
	<stop  offset="1" style="stop-color:#DDD6F3"/>
</linearGradient>
<circle id="XMLID_3_" class="st3" cx="1731.2" cy="324.2" r="17.3"/>
</svg>
	</div>
	<div class="container-dg">
		<div class="centering-flex-dg">
			<div class="logo-container-dg">
				<a href="{{ site.baseurl }}/index">
					<img src="{{ site.baseurl }}/assets/images/dgpw.svg">
				</a>
			</div>
			<div class="nav-container-dg">
				<nav class="nav-items">
					<ul>
						<li>
							<a href="{{ site.baseurl }}/portfolio">portfolio</a>
						</li>
						<li>
							<a href="{{ site.baseurl }}/about">
								about
							</a>-
						</li>
						<li>
							<a href="{{ site.baseurl }}/assets/resume.pdf" target="_blank">
								resume
							</a>
						</li>
					</ul>
				</nav>
				<div class="soc-links-dg">
					<div class="soc-links-container-dg">
						<a href="https://www.facebook.com/digitalpowww"><img src="{{ site.baseurl }}/assets/images/facebook.svg" alt=""></a>
						<a href="https://www.dribbble.com/digitalpow"><img src="{{ site.baseurl }}/assets/images/dribbble.svg" alt=""></a>
						<a href="https://www.be.net/digitalpow"><img src="{{ site.baseurl }}/assets/images/behance.svg" alt=""></a>
						<a href="https://www.github.com/digitalpow"><img src="{{ site.baseurl }}/assets/images/github.svg" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
