<div class="full-dg">
	<div class="container-dg">
		<div class="centering-flex-dg">
			<div class="logo-container-dg">
				<a href="{{ site.baseurl }}/index">
					<img src="{{ site.baseurl }}/assets/images/dgpw.svg">
				</a>
			</div>
			<div class="nav-container-dg">
				<nav class="nav-items">
					<ul>
						<li>
							<a href="{{ site.baseurl }}/portfolio">portfolio</a>
						</li>
						<li>
							<a href="{{ site.baseurl }}/about">
								about
							</a>
						</li>
						<li>
							<a href="{{ site.baseurl }}/resume.pdf">
								resume
							</a>
						</li>
					</ul>
				</nav>
				<div class="soc-links-dg">
					<div class="soc-links-container-dg">
						<a href="https://www.facebook.com/digitalpowww"><img src="{{ site.baseurl }}/assets/images/facebook.svg" alt=""></a>
						<a href="https://www.dribbble.com/digitalpow"><img src="{{ site.baseurl }}/assets/images/dribbble.svg" alt=""></a>
						<a href="https://www.be.net/digitalpow"><img src="{{ site.baseurl }}/assets/images/behance.svg" alt=""></a>
						<a href="https://www.github.com/digitalpow"><img src="{{ site.baseurl }}/assets/images/github.svg" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
