[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
	margin: 0 auto;
	overflow: hidden;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

[class*='col-'] {
	float: left;
  min-height: 1px;
}

[class*='col-'] [class*='col-']:last-child {
	padding-right: 0;
}

.col-1 {
	width: 100%;
}

.col-half {
	width: 50%;
}


// main page css

.background {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.full-h {
	height: 100vh;
}

.identity {
	width: 100%;
	height: 100%;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	p {
		pointer-events: none;
		width: 100%;
		display: block;
		color: #707070;
	}
	.forset {
		pointer-events: fill;
		color: #404040;
		text-decoration: none;
	}
	.soc-icons {
		width: 100%;
		margin-top: 60px;
		a {
			pointer-events: fill;
			font-size: 1.2rem !important;
			color: #404040;
			float: left;
			margin: 0 20px 0 0;
		}
	}
}
