---
title: Portfolio - DGPW
permalink: portfolio.html
---
{% include head.html %}
<div class="full-dg">
	{% include header.html %}
	<div class="container-dg">
			<div class="portfolio-dg">
					<ul class="post-uls">
		  			{% for post in site.posts %}
						<div>
							<li>
		    				<a href="{{ post.url }}" class="post-url-title">
			      			{% assign foundImage = 0 %}
			      			{% assign images = post.content | split:"<img " %}
			      				{% for image in images %}
			        				{% if image contains 'src' %}
			            		{% if foundImage == 0 %}
			                	{% assign html = image | split:"/>" | first %}
			                <img {{ html }} />
			                {% assign foundImage = 1 %}
			            		{% endif %}
			        				{% endif %}
			      				{% endfor %}
				      	</a>
							</li>
						</div>
		  		{% endfor %}
				</ul>
			</div>
	</div>
</div>
